# Environment variables
.env

# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder
instance/

# Database files
*.db
*.sqlite

# Distribution / packaging
dist/
build/
*.egg-info/